﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BBVA League</h1>
    <p class="lead"></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>UD Almeria appoint Luis Miguel Ramis as coach</h2>
        <p>
            The Andalusian side have announced that the Catalan-born coach will take charge until the end of the season as they look to secure LaLiga 1l2l3 survival.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Atlético de Madrid – Bayer Leverkusen Atlético de Madrid – Bayer Leverkusen (UEFA Champions League. Round of 16. Second leg)</h2>
        <p>The Rojiblancos are meeting the men coached by Roger Schmidt in the round of 16 of the European tournament (Vicente Calderón Stadium. 15 March).</p>
        <p><a class="btn btn-default" href="https://www.esmadrid.com/en/whats-on/atletico-madrid-bayer-leverkusen-uefa-champions-league-round-16-second-leg-vicente-calderon-stadium">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Chelsea Eliminates Manchester United From F.A. Cup</h2>
        <p>N’Golo Kanté scored his second goal for Chelsea, helping to end United’s hopes of defending its Cup title.</p>
        <p><a class="btn btn-default" href="https://www.nytimes.com/2017/03/13/sports/soccer/chelsea-fc-manchester-united-fa-cup.html?rref=collection%2Fsectioncollection%2Fsoccer&_r=0">Learn more &raquo;</a></p>
    </div>
</div>