﻿@{
    ViewBag.Title = "Login";
}



<h2>Login</h2>



@using (Html.BeginForm("Login","User"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Users</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.ValidationMessage("Error", new { @class = "text-danger" })


        <div class="form-group">
            @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" data-val="true" id="email" name="email" value="">
            </div>
         </div>

        <div class="form-group">
            @Html.Label("password", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">

                <input type="password" data-val="true" id="password" name="password" value="">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>


        </div>
}
