﻿@{    ViewBag.Title = "Index";}




<script language="javascript" type="text/javascript">
    //var globalurlService = "http://localhost:29810/api/";
    var globalurlService = "http://bbvaapi.azurewebsites.net/api/";
</script>

<h2>Match Games of BBVA LEAGUE</h2>
<div class="row" style="align-content:center">
    <div class="input-field col s6">
        <label class="control-label">Team</label>
    </div>
    <div class="input-field col s6">

        <select class="btn dropdown-button" data-val="true" id="ddlTeam" name="ddlTeam"></select>
    </div>
</div>
<div class="row">
    <div class="input-field col s6">
        <label class="control-label">Month</label>
    </div>
    <div class="input-field col s6">
        <select class="btn dropdown-button " data-val="true" id="ddlMonth" name="ddlMonth"></select>
    </div>
</div>

<div class="row">

    <div class="input-field col s6">
        <label class="control-label">Year</label>
    </div>

    <div class="input-field col s6">
        <select class="btn dropdown-button " data-val="true" id="ddlYear" name="ddlYear">
            <option value="2007">2007</option>
            <option value="2008">2008</option>
            <option value="2009">2009</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>

        </select>
    </div>
</div>


<div class="row">
    <div class="input-field col s4">
    </div>
    <div class="input-field col s4">
        <button id="btnSearch" class="form-control  btn btn-primary">
            <span class="glyphicon glyphicon-search"></span> Search
        </button>
    </div>
    <div class="input-field col s4">
    </div>

</div>

<br />
<br />
<div class="table-responsive">
    <table class="table table-bordered table-striped table-responsive table-hover" id="dtMatchResult">
        <thead>
            <tr>
                <th style="width: 15%;text-align:center">
                    Local team
                </th>
                <th style="width: 15%;text-align:center">
                    Visistor team
                </th>
                <th style="width: 15%;text-align:center">
                    Local goals
                </th>
                <th style="width: 15%;text-align:center">
                    Visitor goals
                </th>
                <th style="width: 15%;text-align:center">
                    PlayDate
                </th>
                <th style="width: 15%;text-align:center">
                    Month
                </th>
                <th style="width: 10%;text-align:center">
                    Year
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>
</div>

@section scripts{

    <link href="~/Scripts/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-ui.js"></script>
    @*<script src="~/Scripts/jquery-ui/jquery-ui.js"></script>*@
    <script src="~/Scripts/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/Utilidades/Utilidades.js"></script>
    <script src="/Scripts/Plugins/DataTables/DataTables-1.10.10/js/jquery.dataTables.js" type="text/javascript"></script>



    <script language="javascript" type="text/javascript">
        $(document).ready(function () {


            $.get(globalurlService + 'Team/', null, function (data) {

                var ddl = $("#ddlTeam");
                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    ddl.append('<option value="' + item.idTeam + '">' + item.nameTeam + '</option>');
                }
            });

            $.get(globalurlService + 'Month/', null, function (data) {

                var ddl = $("#ddlMonth");
                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    ddl.append('<option value="' + item.idMonth + '">' + item.monthName + '</option>');
                }
            });

            $.get(globalurlService + 'MatchResults/', null, function (data) {
                var tabla = $("#dtMatchResult").dataTable();
                tabla._fnClearTable();
                if (data.length == 0) {
                    tabla._fnReDraw();
                }
                else {
                    $(data).each(function (i, item) {

                        var addData = [];
                        addData.push('<div  style="text-align:center">' + item.LocalTeam + '</div>');
                        addData.push('<div  style="text-align:center">' + item.VisistorTeam + '</div>');
                        addData.push('<div  style="text-align:center">' + item.localGoals + '</div>');
                        addData.push('<div  style="text-align:center">' + item.visitorGoals + '</div>');
                        addData.push('<div  style="text-align:center">' + getSubstring(item.playDate) + '</div>');
                        addData.push('<div  style="text-align:center">' + item.monthName + '</div>');
                        addData.push('<div  style="text-align:center">' + item.year + '</div>');
                        tabla.fnAddData(addData);
                    });
                }
            });
            var dtMatchResult = $("#dtMatchResult").DataTable({
                "pageLength": 10,
                "order": [[0, 'asc']],
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv'
                ]
            });
        });


        $('#btnSearch').click(function () {
            searchResultMatch();
        });

        function searchResultMatch() {
            var parameters = {
                id: $("#ddlTeam").val(),
                year: $("#ddlYear").val(),
                month: $("#ddlMonth").val()

            }

            $.get(globalurlService + 'MatchResults/', parameters, function (data) {
                var tabla = $("#dtMatchResult").dataTable();
                tabla._fnClearTable();
                if (data.length == 0) {
                    tabla._fnReDraw();
                }
                else {
                    $(data).each(function (i, item) {

                        var addData = [];
                        addData.push('<div  style="text-align:center">' + item.LocalTeam + '</div>');
                        addData.push('<div  style="text-align:center">' + item.VisistorTeam + '</div>');
                        addData.push('<div  style="text-align:center">' + item.localGoals + '</div>');
                        addData.push('<div  style="text-align:center">' + item.visitorGoals + '</div>');
                        addData.push('<div  style="text-align:center">' + getSubstring(item.playDate) + '</div>');
                        addData.push('<div  style="text-align:center">' + item.monthName + '</div>');
                        addData.push('<div  style="text-align:center">' + item.year + '</div>');
                        tabla.fnAddData(addData);
                    });
                }
            });
        }

        function getSubstring(value) {

            return value.substring(0, 10);
        }





    </script>

}




